<h1 id="blog-title" style="font-size: 4em;">Bloggert</h1>
<p>The date and time is currently <%= Time.now.strftime("%m/%d/%Y %H:%M") %></p>
<hr>
<h1 class="header">Newest Posts</h1>
<%= render @posts %>
