<h1 id="blog-title" style="font-size: 6em;">Bloggert</h1>&trade;
<hr>
<h1 class="header">Newest Posts</h1>
<div class="alert alert-info" style="display:none" role="alert">A new entry has been made!</div>
<%= render @posts %>
