<!DOCTYPE html>
<html>
<head>
  <title>Bloggert</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <ul class="nav nav-pills navbar-fixed-top">
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Blog</a></li>
    <li role="presentation"><a href="#">Contact</a></li>
  </ul>
  <div class="page-wrap" align="center">
    <center><%= yield %></center>
  </div>
  <footer class="site-footer">
    &copy; Bloggert
  </footer>
</body>
</html>
